* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(162, 27, 90);
    color: aliceblue;
    padding: 5px;
}

.container {
    display: flex;
    gap: 10px;
}

.uneSeuleClasse {
    padding: 4px;
}

.uneSeuleClasse:hover {
    background-color: rgb(214, 75, 140);
    border-radius: 6px;
}

@media screen and (max-width:300px) {
    header {
        font-size: 0.7em;
    }
    
    .container {
        flex-direction: column;
    }
    
    .uneSeuleClasse {
        width: fit-content;
    }
}