*{
    margin: 0;
    padding: 0;
    
}

header{
    background-color: black;
    color: pink;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

@media screen and (max-widht: 300px){
    header {
        font-size: 0,7em;
        
    }

    .container{
        flex-direction: column;
        
    }
    
}